<h1><%= @product.name %></h1>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <%= image_tag @product.image %>
    </div>
    <div class="col">
      <p> Price: <%= @product.price %> $ </p>
      <p> Description: <%= @product.description %> </p>
      <p> Comments: </p>
      <%= render @product.comments %>

      <p>Add a comment:</p>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>